<!doctype html>
<html lang="en">
<head>
<!--    <%var htmlTitle = $GET_META('Index','title');%>-->
    <title><%= typeof title != 'undefined' ? title : 'index'%></title>
    <%- include inc/tmp_meta.htm%>
</head>

<div class="layout">
    <%- include inc/nav.htm%>
    <%- include inc/base_info.htm%>
    <%- include inc/culture_info.htm%>
    <%- include inc/footer.htm%>
</div>
</body>
<%- include inc/mustjs.htm%>
</html>
<script>
    $$.initSwiper();
    var swiper = new Swiper('.swiper-container1', {
        direction: 'vertical',
        slidesPerView: 3,
        spaceBetween: 30,
        autoplay: {
            delay: 2000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
        loop: true, // 循环模式选项
    });
</script>