<div class="culture">
    <div class="left culture-list-wrap custom-bottom-type" style="width: 322px">
        <div class="culture-title">
            <div class="left custom-title">党团建设</div>
            <div class="right">更多>></div>
        </div>
        <div class="details">
            <ul>
                <% var details_arr = [{key:'中西药复方制剂应用需谨慎 研究少安全性不明确',value:'xxxx'} ]%>
                <% details_arr.forEach(function(item){%>
                <li class="custom-list-li"><a href="/article/cmd-<%= item.value%>"><%= item.key%></a></li>
                <%})%>
            </ul>
        </div>
    </div>
    <div class="left culture-list-wrap" style="width: 8px"></div>
    <div class="left culture-list-wrap custom-bottom-type" style="width: 389px">
        <div class="culture-title">
            <div class="left custom-title">市场创新</div>
            <div class="right">更多>></div>
        </div>
        <div class="details">
            <ul>
                <% var details_arr = [{key:'中西药复方制剂应用需谨慎 研究少安全性不明确',value:'xxxx'} ]%>
                <% details_arr.forEach(function(item){%>
                <li class="custom-list-li"><a href="/article/cmd-<%= item.value%>"><%= item.key%></a></li>
                <%})%>
            </ul>
        </div>
    </div>
    <div class="left culture-list-wrap" style="width: 9px"></div>
    <div class="left culture-list-wrap custom-bottom-type" style="width: 272px">
        <div class="culture-title">
            <div class="left custom-title">行业资讯</div>
            <div class="right">更多>></div>
        </div>
        <div class="details">
            <ul>
                <% var details_arr = [{key:'中西药复方制剂应用需谨慎 研究少安全性不明确',value:'xxxx'} ]%>
                <% details_arr.forEach(function(item){%>
                <li class="custom-list-li"><a href="/article/cmd-<%= item.value%>"><%= item.key%></a></li>
                <%})%>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
