<style>
    .banner .swiper-container {
        max-width: 1000px;
        /*height: 300px;*/
    }
    .banner .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0,0,0,0.2);
    }
    .banner .swiper-pagination-bullet-active {
       background-color: #005cbf;
       color: #f0b8da;
    }
    .banner .nav-top-banner-2 {
        height: 168px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .w-50 {
        width: 50%;
    }
    .nav-one-table {
        width: 100%;
        padding-top: 4px;
    }
    .nav-top-banner {
        width: 580px;
        height: 87px;
        margin-top: 2px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/imgs/banner2.jpg);
        background-position: center;
    }
    .nav-one-table .sear {
        height: 32px;
        font-size: 12px;
        background-color: #f1f6fc;
        background-image: url("/imgs/index_r1_c1.jpg");
    }
    .nav-one-table .language span {
        color: white;
        padding: 0 4px;
        background: #818181;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
    }
    .nav-one-table .nav ul {
        width: 1000px;
        height: 42px;
        color: white;
        background-color: #297cbe;
        position: relative;
        margin-bottom: 26px;
    }
    .nav-one-table .nav ul li {
        float: left;
        list-style-type: none;
        width: 10%;
        text-align: center;
        cursor: pointer;
        line-height: 42px;
    }
    .nav-one-table .nav ul li:not(:last-child)::after {
        content: " ";
        width: 2px;
        height: 15px;
        background-color: #1933476e;
        position: absolute;
        top: 14px;
    }
    .nav-lis-table {
        position: absolute;
        top: 40px;
        margin-left: -100px;
        line-height: 19px;
        font-size: 13px;
    }
    .nav-lis-table a {
        color: #6a6364;
    }
    .hide {
        display: none;
    }
    .nav-ul .nav-list-a {
        color: white;
        text-decoration: none;
        display: inline-block;
        height: 100%;
        width: 100%;
        font-size: 14px;
    }
    .nav-ul li:hover .nav-list-a {
        color: #fce93b !important;
    }
    .nav-ul li:hover .nav-lis-table{
        display: inline-block;
        width: auto;
    }
    .nav-ul li:hover .nav-lis-table td {
        display: inline-block;
       margin-right: 8px;
    }
    .swiper-nav-img {
        height: 325px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .log-text {
        display: inline-block;
        width: 260px;
        height: 90px;
        margin-left: 18px;
        position: absolute;
        line-height: 90px;
        font-size: 46px;
        padding-left: 15px;
    }
</style>
<table class="table nav-one-table">
    <tbody>
    <tr class="sear">
        <td>
            <table style="padding:0 20px" class="w-100">
                <tbody>
                    <tr>
                        <td class="left">
                            <form action="" method="get">
                                <div>
                                    站内搜索：
                                    <input type="text" placeholder="站内搜索" name="key">
                                    <input type="submit" name="Submit" value="搜索">
                                </div>
                            </form>
                        </td>
                        <td class="right">
                            <div class="language">
                                <span>中文</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="log">
        <td>
            <div class="left">
                <a href="/">
                    <img height="87" src="/favicon.jpg" alt="log" style="margin-left: 36px; margin-top: 2px">
                    <span class="log-text">博雅瑞斯</span>
                </a>
            </div>
            <a href="/">
                <div class="right nav-top-banner"></div>
            </a>

        </td>
    </tr>
    <tr class="nav">
        <td>
            <ul class="nav-ul">
                <%var nav_arr = [
                {title:'网站首页', key:'home',arr:[]},
                {title:'博雅瑞斯', key:'byrs',arr:[{title:'公司简介', key:'byrs'},{title:'发展历程', key:'fzlc'}]},
                {title:'公司产品', key:'gscp',arr:[{title:'公司产品', key:'gscp'}]},
                {title:'新闻中心', key:'news',arr:[{title:'集团简介', key:'jtjj'},{title:'发展历程', key:'fzlc'}]},
                {title:'联系我们', key:'lxwm',arr:[]},
                ]%>
                <% nav_arr.forEach(function(item,index){%>
                <li>
                    <a class="nav-list-a" href="/<%= item.key%>"> <%= item.title%></a>

                    <table class="table nav-one-table nav-lis-table hide" <%- index === nav_arr.length-1 ? "style='margin-left:-"+item['arr'].length * 60+'px'+"';'":''%>>
                        <tbody>
                        <tr>
                            <% item['arr'].forEach(function(arr_item){%>
                            <td>
                                <a href="javascript:void(0)"><%= arr_item.title%></a>
                            </td>
                            <%})%>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <%})%>
            </ul>
        </td>
    </tr>
    <% var navType =  typeof nav_type === 'undefined' ? 'home' : 'how'%>
    <tr class="banner">
        <% if(navType === 'home'){%>
        <td>
            <div class="swiper-container">
                 <div class="left" style="width: 491px">
                     <a href="/article/cmd-aaa">
                         <div class="nav-top-banner-2" style="background-image: url('/imgs/news/news21.jpg')"></div>
                     </a>
                 </div>

                 <div class="right" style="width: 491px">
                     <a href="/article/cmd-bbb">
                         <div class="nav-top-banner-2" style="background-image: url('/imgs/news/news23.jpg')"></div>
                     </a>
                 </div>
            </div>
        </td>
        <%}else{%>
        <td>
            <%var img_arr = [{key:'banner_1.jpg', value: 'sss'}, {key:'banner_2.jpg', value: 'ffff'}, {key:'banner_3.jpg', value: 'fff'}]%>
            <div class="swiper-container" style="height: 325px; overflow: hidden;">
                <div class="swiper-wrapper">
                    <%img_arr.forEach(function(item){%>
                        <div class="swiper-slide">
                            <a href="/article/cmd-<%= item.value%>">
                                <div class="swiper-nav-img" style="background-image: url('/imgs/<%= item.key%>')"></div>
                            </a>
                        </div>
                    <%})%>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </td>
        <%}%>
    </tr>
    </tbody>
</table>
