<nav class="navbar navbar-expand-md bg-primary navbar-dark pl-5 pr-5">
    <a href="#" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><%-$GET('NAV-GAME')%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><%-$GET('NAV-APP')%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><%-$GET('NAV-NEW')%></a>
            </li>

        </ul>
    </div>
    <!-- Dropdown -->
    <li class="nav-item dropdown navbar-text">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><%= x_ll_key%></a>
        <div class="dropdown-menu mt-2">
            <% $CONFIG.template_locales.forEach(function(item){%>
            <a class="dropdown-item text-dark" href="<%= item.req_url%>?hl=<%= item.ll%>"><%= item.country.name%></a>
            <%})%>
        </div>
    </li>
</nav>